body {
    margin:0;
    padding:0;      
}
.demoHead { 
    display:block;  
    margin-bottom:             20px;   
    border: 0;
    padding:            0px;
    padding-top:            8px;
    padding-bottom:            8px;    
    border-bottom: 1px solid #CCC;

    font: normal 12px Verdana, Arial, Helvetica, sans-serif; 
    color:              #5A5655;   
    background-color:   #FAFAFA;    
    text-align:center;
}
.demoHead h1,.demoHead h2,.demoHead h3{
    margin:0;
    padding:0;
}
.demoHead h1{
    font: bold 22px Verdana, Arial, Helvetica, sans-serif;
}
.demoHead h2{
    font: bold 18px Verdana, Arial, Helvetica, sans-serif;
}
.demoHead h3{
    font: normal 12px Verdana, Arial, Helvetica, sans-serif;
}
.demoHead a.btn{
      width                 : 100px;
      -moz-border-radius    : 8px;
      -webkit-border-radius : 8px;
      background            : #7D7D7D;
      color                 : #FFF;
      margin                : 2px 10px 0px 10px;
      padding               : 5px 5px 5px 5px;
      text-align            : center;
      border                : 1px solid #7D7D7D;    
      text-decoration       : none; 
  }
.demoHead a.btn:hover{
      background      : #EA8511;
      color           : #FFFFFF;
      border          : 1px solid #EA8511; 
      text-decoration : none; 
}
.demoHead a.selected{
      width                 : 100px;
      -moz-border-radius    : 8px;
      -webkit-border-radius : 8px;
      background            : #EA8511;
      color                 : #FFFFFF;
      margin                : 2px 10px 0px 10px;
      padding               : 5px 5px 5px 5px;
      text-align            : center;
      border                : 1px solid #EA8511;    
      text-decoration       : none; 
}